.features {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  margin: 10rem 0;
  &__item {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 2rem;
  }
  &__paragraph {
    grid-column: 2/-1;
    font-size: 1.3rem;
    hyphens: auto;
  }
  &__header {
    font-size: 1.6rem;
  }
  &__icon {
    transform: translateY(-5px);
    font-size: 4rem !important;
    color: #c69963;
  }
}
