.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  position: relative;
  transition: all 0.5s;
  @media only screen and(max-width:$bp-large) {
    grid-column: 1/-1;
    grid-row: 1 / span 1;
  }
  &__checkbox {
    display: none;
  }

  &__Hambutton {
    height: 5rem;
    width: 5rem;
    position: absolute;

    left: 0.5rem;
    cursor: pointer;
    z-index: 10;
    margin: 0 auto;

    @media only screen and(max-width:$bp-large) {
      margin: 0;
      bottom: 0.5rem;
    }
  }
  &__icon {
    transform: translateY(3rem);
    &,
    &::after,
    &::before {
      width: 4rem;
      height: 2px;
      background-color: #fff;
      display: inline-block;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::after {
      top: 1.3rem;
    }
    &::before {
      top: -1.3rem;
    }
  }
  &__Hambutton:hover &__icon::after {
    top: 1.5rem;
  }
  &__Hambutton:hover &__icon::before {
    top: -1.5rem;
  }
  &__checkbox:checked + &__Hambutton &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__Hambutton &__icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  &__checkbox:checked + &__Hambutton &__icon::after {
    top: 0;
    transform: rotate(-45deg);
  }

  &__nav {
    opacity: 0;
    width: 8rem;
    transition: all 0.4s;

    position: fixed;
    height: 100vh;
    top: 0;
    background-color: $color-primary-dark;

    @media only screen and(max-width:$bp-large) {
      width: 50vw;
      height: 10vh;
    }
  }
  &__list {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 10rem;
    width: 100%;
    margin: 0 auto;
    @media only screen and(max-width:$bp-large) {
      top: 6rem;
    }
  }
  &__item {
    display: flex;
    position: relative;
    align-items: center;
    height: 7rem;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid rgba($color: $color-primary, $alpha: 0.8);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: #fff;
      transform: scaleY(0);
      z-index: 0;
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
    }
    &:hover::before {
      transform: scaleY(1);
      width: 100%;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    z-index: 10;
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    z-index: 2;
    @media only screen and(max-width:$bp-large) {
      width: 50%;
      height: 40rem;
    }
  }
  &__navicon {
    font-size: 2rem !important;
    color: #fff !important;
    margin-right: 1rem;
    margin-left: 2rem;
    z-index: 10;
  }
  &__item:hover &__navicon {
    color: $color-primary !important;
  }
  &__item:hover &__link {
    color: $color-primary;
  }
}
